..tmp_vmlinux1.cmd
..tmp_vmlinux2.cmd
.config
.missing-syscalls.d
.tmp_System.map
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_vmlinux1
.tmp_vmlinux2
.version
.vmlinux.cmd
Module.symvers
System.map
arch/arm/boot/.Image.cmd
arch/arm/boot/.zImage.cmd
arch/arm/boot/compressed/.piggy.gzip.cmd
arch/arm/boot/compressed/.vmlinux.cmd
arch/arm/kernel/.asm-offsets.s.cmd
arch/arm/kernel/.vmlinux.lds.cmd
arch/arm/kernel/asm-offsets.s
arch/arm/lib/.lib.a.cmd
arch/arm/lib/lib.a
drivers/mtk_wcn_combo/common/.mtk_hif_sdio.ko.cmd
drivers/mtk_wcn_combo/common/.mtk_stp_bt.ko.cmd
drivers/mtk_wcn_combo/common/.mtk_stp_gps.ko.cmd
drivers/mtk_wcn_combo/common/.mtk_stp_uart.ko.cmd
drivers/mtk_wcn_combo/common/.mtk_stp_wmt.ko.cmd
drivers/mtk_wcn_combo/common/.mtk_wmt_wifi.ko.cmd
drivers/mtk_wcn_combo/drv_bt/.hci_stp.ko.cmd
drivers/mtk_wcn_combo/drv_fm/private/.mtk_fm_priv.ko.cmd
drivers/mtk_wcn_combo/drv_fm/public/.mt6620_fm_drv.ko.cmd
drivers/mtk_wcn_combo/drv_wlan/p2p/.p2p.ko.cmd
drivers/mtk_wcn_combo/drv_wlan/wlan/.wlan.ko.cmd
include/config/
include/generated/
include/linux/version.h
kernel/.bounds.s.cmd
kernel/.timeconst.h.cmd
kernel/bounds.s
lib/.gen_crc32table.cmd
lib/.lib.a.cmd
lib/lib.a
scripts/.kallsyms.cmd
scripts/basic/.fixdep.cmd
scripts/kconfig/.conf.cmd
scripts/mod/.elfconfig.h.cmd
scripts/mod/.mk_elfconfig.cmd
scripts/mod/.modpost.cmd
usr/.gen_init_cpio.cmd
usr/.initramfs_data.cpio.cmd
usr/.initramfs_data.cpio.d
vmlinux
